body {
  background-color:antiquewhite;
}
.container {
  background-color:aliceblue;
  width: 95%;
  margin: auto;
  padding: 3px;

}

.test {
  background-color: brown;
  color: aliceblue;
}

.testus {
  background-color:blueviolet;
  color: aliceblue;
}